version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
      day: "saturday"
      time: "10:00"
      timezone: Asia/Tokyo
    open-pull-requests-limit: 10
